<div *ngIf="!noValue">
  <div class="row" *ngFor="let post of posts">
    <div class="col-md-6 col-md-offset-3">  
      <div class="post-content">

        <h1>{{ post.title }}</h1>
        <br>
        <p>{{ post.content }}</p>
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div *ngIf="post.image != '' || post.video != ''">
              <div *ngIf="post.video != ''">
                <div class="video">
                  <iframe 
                    [src]="retrieveEmbedUrl(post.video)" 
                    frameborder="0" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
                  </iframe>
                </div>
                <br>
                <br>
              </div>
              <div *ngIf="post.image != '' else video">
                <img src="{{ post.image }}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
        <br>
        <p id="post-information">
          by {{ getUsername(post.userID) }}
          | {{ post.date | date }}
          | 11 <span class="glyphicon glyphicon-comment"></span>
          | {{ post.likes }} <span class="glyphicon glyphicon-thumbs-up"></span>
        </p>
        <br>
        <div class="function-buttons">
            <button class="btn btn-success" (click)="edit()"><span class="glyphicon glyphicon-edit"></span> Edit</button>
            <button class="btn btn-danger" (click)="deletePost()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="noValue">
<div class="col-md-2"></div>
<div class="col-md-8" style="text-align: center;">
  <h2 class="text-danger">Error:</h2>
  <h3 class="text-danger">This Post Does Not Exist</h3>
</div>
</div>
