<div *ngIf="!noValue">
  <div class="row" *ngFor="let post of posts">
    <div class="col-md-8 col-md-offset-2">  
      <div>
      <div class="col-md-12">
        <img src="{{ post.image }}" class="img-fluid" alt="">
      </div>
      <div class="post-content">

        <h3><a href="#">{{ post.title }}</a></h3>
        <p>{{ post.content }}</p>
        <p>
          <i class="icon-user"></i> by <a href="#">{{ getUsername(post.userID) }}</a> 
          | <i class="icon-calendar"></i> {{ post.date | date }}
          | <i class="icon-comment"></i> <a href="#">11 Comments</a>
          | <i class="icon-share"></i> <a href="#">{{ post.likes }} Likes</a>
        </p>
        <button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button>
        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <hr>
        <!-- COMMENTS -->
        <div class="row">
          <div class="col-sm-9 col-sm-offset-1">  
            <h4>Write a comment</h4>  

            <hr>  
            <div class="form-group" >  
              <form ng-controller="commentControler">  
                <textarea class="form-control" rows="5" placeholder="Comment..."  ng-model="CommentText"></textarea>  
                <br>  
                <button class="btn btn-primary pull-right" ng-click="addComment()">Post</button>  
                <br>  
                <hr>   
              </form>  
            </div>
          </div>  
        </div>
        <!-- INDIVIDUAL COMMENT BEGINS   -->
        <div class="row">
          <div class="col-sm-9 col-sm-offset-1">
            <h2>Comments</h2>
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                  <i class="fa fa-reply pull-right"></i>
                  <i class="fa fa-heart pull-right"></i>
                </div>
                <div class="col-md-12 panel-body">
                  Panel contentaaaaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaa 
                  aaaaaaaa aaaaaaaaaaaa aaaaaaaaa aaaaaa aaaaaa aaaaaaaaaaa aaaaaaaaaaaa 
                  aaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaa
                  aaaaaaa aaaaaaaaaa aaaaaaaaaaa aaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaa aaaaaaaaaa aaaaaaaaa 
                  aaaaaaaaaa aaaaaaaaaa aaaaaaaaaaa aaaaaaaaaa aaaaaaaaa aaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaa
                  aaaaaaaaaaaaaaaaaa
                </div><!-- /panel-body -->
              </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
          </div><!-- /col-sm-9 -->
        </div><!-- row -->
        <!-- INDIVIDUAL COMMENT ENDS -->
      </div>
      </div>
    </div>
  </div>
</div>
  <div class="row" *ngIf="noValue">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="text-align: center;">
    <h1 class="text-danger">Error:</h1>
    <h3 class="text-danger">This Post Does Not Exist</h3>
  </div>
  <div class="col-md-2"></div>
</div>
