.main {
    /* background-image: linear-gradient(rgba(37, 120, 253, 0.6),rgba(229,229,229,0.2)); */
    /* background-blend-mode: luminosity; */
    background-image: url("assets\imgs\bg-1.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
