<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Edit Post</h2>
    <br>
    <form [formGroup]="editPostForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="content">Content</label>
              <textarea
                type="text"
                id="content"
                formControlName="content"
                class="form-control">
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="image">Image URL</label>
              <input
                type="text"
                id="image"
                formControlName="image"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="video">Youtube URL</label>
              <input
                type="text"
                id="video"
                formControlName="video"
                class="form-control">
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <button
              type="submit"
              class="btn btn-success"
            ><span class="glyphicon glyphicon-edit"></span> Save Changes</button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onCancel()"
            ><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          </div>
        </div>
    </form>
  </div>
</div>