h4 {
    font-weight: bold;
}

hr {
    border: solid lightgrey 1px;
}

.post {
    border-radius: 5px;
}

.post:hover {
    background-color: rgba(204, 204, 204, 0.5);
}

img {
    margin-top: 3%;
}

button {
    margin-bottom: 1%;
}
