h4 {
    font-weight: bold;
}

hr {
    border: solid rgba(37, 120, 253, 0.4) 1px;
}

.post {
    border-radius: 5px;
}

.post:hover {
    background-color: rgba(204, 204, 204, 0.5);
}

img {
    margin-top: 3%;
}

button {
    margin-bottom: 1%;
}

p {
    color: rgb(48, 48, 48); 
}

.read-button {
    text-align: right;
}

#post-information {
    color: rgb(30, 109, 255);
}