<ng-ais-instantsearch
  [config] = "{
    appId: 'LEGVGPVGUA',
    apiKey: '28e3b56f5b2dca34ea6759f1d1b5d45c',
    indexName: 'forum_site'
  }">
  <div class="row">
    <div class="col-xs-12">
        <ng-ais-search-box></ng-ais-search-box>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <ng-ais-hits>
            <ng-template let-hits="hits">
              <div class="list-group-item" *ngFor="let hit of hits">
                <a href="/post/{{hit.ID}}">
                <ng-ais-highlight attribute="title" [hit]="hit"></ng-ais-highlight>
                <br>
                <ng-ais-highlight attribute="content" [hit]="hit"></ng-ais-highlight>
                </a>a
              </div>
            </ng-template>
        </ng-ais-hits>
        <ng-ais-pagination [totalPages]="50"></ng-ais-pagination>
    </div>
  </div>
</ng-ais-instantsearch>
